<div id="bottombar">
    <link rel="stylesheet" href="/src/templates/css/bottom-bar.css">
    
    <section class="bottombar-section">
        
        <h3>lorem ipsum</h3>
        <ul>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
        </ul>
        
    </section>
    
    <section class="bottombar-section">
        
        <h3>lorem ipsum</h3>
        <ul>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
        </ul>
        
    </section>
    
</div>
