<div id="profile-form">
  <link rel="stylesheet" href="/src/templates/css/edit-profile-form.css">

  <header class="profile-form-header">
    <h1 class="profile-form-h1">
      Lorem ipsum
    </h1>
  </header>

  <section class="profile-form-section">
    
    <button id="photo-btn" class="profile-form-btn">
      <img src="/src/resources/aspas.svg" alt="Profile photo" class="profile-form-img">
    </button>
    
    <button id="x-btn" class="profile-form-btn">
      Lorem ipsum
    </button>
    
  </section>

  <form class="profile-form-form">
    
    <div id="username-field" xlu-include-file="/src/templates/html/form-text-field.html"></div>

    <div id="xx-field" xlu-include-file="/src/templates/html/form-text-field.html"></div>

    <div id="description-field" xlu-include-file="/src/templates/html/form-text-field.html"></div>
    
  </form>
  
  <footer class="profile-form-footer">
    
    <button id="xx-btn" class="profile-form-btn">
      lorem ipsum
    </button>
    
    <button id="xxx-btn" class="profile-form-btn">
      lorem ipsum
    </button>
    
  </footer>

</div>