<div id="profile-form">
  <link rel="stylesheet" href="/src/templates/css/edit-profile-form.css" />
  <script src="/src/common.js"></script>
  <script src="/src/templates/js/edit-profile-form.js"></script>

  <header class="profile-form-header">
    <h1 class="profile-form-h1"></h1>
  </header>

  <section class="profile-form-section">
    <button id="photo-btn" class="profile-form-btn">
      <img alt="Profile photo" class="profile-form-img" src="" />
    </button>

    <button id="x-btn" class="profile-form-btn"></button>
  </section>

  <form class="profile-form-form">
    <div id="username-field-template-form-text-field"></div>

    <div id="xx-field-template-form-text-field"></div>

    <div id="description-field-template-form-text-field"></div>
  </form>

  <footer class="profile-form-footer">
    <button id="xx-btn" class="profile-form-btn"></button>

    <button id="xxx-btn" class="profile-form-btn"></button>
  </footer>
</div>
