<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario con Botón</title>
  <link rel="stylesheet" href="/src/templates/css/login-form.css">
</head>
<body>

<main class="contenedor-formulario">
  <div class="campo-grupo">
    <label>Lorem ipsum</label>
    <label>
      <input type="text" class="barra-roja" value="Lorem ipsum" placeholder="lorem ipsum">
    </label>
  </div>

  <div class="campo-grupo">
    <label>Lorem ipsum</label>
    <label>
      <input type="text" class="barra-roja" value="Lorem ipsum" placeholder="lorem ipsum">
    </label>
  </div>

  <button type="button" class="boton-rosa">
    Lorem ipsum
  </button>
</main>

</body>
</html>