<main class="tarjeta-gris">
  <link rel="stylesheet" href="/src/templates/css/outfit-view.css" />
  <div class="columna-izquierda">
    <img src="" alt="" class="imagen-principal" />

    <div class="autor-info">
      <button class="boton-autor">
        <img src="" alt="" />
      </button>

      <span class="nombre-autor"></span>
    </div>
  </div>

  <div class="columna-derecha">
    <section id="title-tags" class="bloque-texto">
      <h2></h2>
      <p></p>
    </section>

    <section id="description" class="bloque-texto">
      <h2 class="segundo-titulo"></h2>
      <p></p>
    </section>
  </div>
</main>
