<div id="upload-form">
    <link rel="stylesheet" href="/src/templates/css/outfit-upload-form.css">
    
    <h3 class="upload-form-h3">
        Lorem ipsum
    </h3>

    <button id="outfit-img-btn" class="upload-form-button">
        <img src="/src/resources/aspas.svg" alt="Outfit photo" id="outfit-img">
    </button>

    <form class="upload-form-form">
        
        <div id="outfit-name-field" class="grupo-input" xlu-include-file="/src/templates/html/form-text-field.html"></div>
        
        <div id="outfit-description-field" class="grupo-input" xlu-include-file="/src/templates/html/form-text-field.html"></div>
        
    </form>

    <div id="button-container">
        
        <button class="upload-form-button">
        </button>
        
    </div>

</div>