<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="/src/templates/css/outfit-upload-form.css">
</head>
<body>

<div class="contenedor">
    <h3>Lorem ipsum</h3>

    <img src="/src/resources/aspas.svg" alt="Foto a subir" class="imagen-proyecto">

    <form class="formulario">
        <div class="grupo-input" xlu-include-file="/src/templates/html/form-text-field.html"></div>
        <div class="grupo-input" xlu-include-file="/src/templates/html/form-text-field.html"></div>
    </form>

    <div class="contenedor-boton">
        <a href="/src/pages/outfit-with-user.html" class="boton">lorem ipsum</a>
    </div>

</div>

</body>
</html>