<main class="tarjeta-gris">
  <link rel="stylesheet" href="/src/templates/css/outfit-view.css" />
  <div class="columna-izquierda">
    <img
      src="/src/resources/aspas.svg"
      alt="Imagen Lorem Ipsum"
      class="imagen-principal"
    />

    <div class="autor-info">
      <button class="boton-autor">
        <img src="/src/resources/aspas.svg" alt="" />
      </button>

      <span class="nombre-autor">Lorem ipsum</span>
    </div>
  </div>

  <div class="columna-derecha">
    <section class="bloque-texto">
      <h2>Lorem ipsum</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>

    <section class="bloque-texto">
      <h2 class="segundo-titulo">Lorem ipsum</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </section>
  </div>
</main>
