<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="../css/OutfitUpload.css">
</head>
<body>

<div class="contenedor">
    <h3>Lorem ipsum</h3>

    <img src="../../resources/aspas.svg" alt="Foto a subir" class="imagen-proyecto">

    <form class="formulario">
        <div class="grupo-input">
            <label>lorem ipsum</label>
            <input type="text" placeholder="lorem ipsum">
        </div>
        <div class="grupo-input">
            <label>lorem ipsum</label>
            <input type="text" placeholder="lorem ipsum">
        </div>
    </form>

    <div class="contenedor-boton">
        <a href="VerPerfilConDerechohtml" class="boton">lorem ipsum</a>
    </div>

</div>

</body>
</html>