<div id="register-form">
  <link rel="stylesheet" href="/src/templates/css/register-form.css">
  
  <form>
    
    <div id="x-field" class="campo-grupo" xlu-include-file="/src/templates/html/form-text-field.html"></div>
    
    <div id="xx-field" class="campo-grupo" xlu-include-file="/src/templates/html/form-text-field.html"></div>
    
    <div id="xxx-field" class="campo-grupo" xlu-include-file="/src/templates/html/form-text-field.html"></div>
    
  </form>

  <button class="register-form-btn">
    Lorem ipsum
  </button>
  
</div>