<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Lateral</title>
    <link rel="stylesheet" href="/src/templates/css/side-bar.css">
</head>
<body>

<div id="sidebar">

    <div id="sidebar-top" class="sidebar-div">
        <a href="/src/pages/search-with-user.html" class="circle">
            <img src="/src/resources/aspas.svg" alt="search">
        </a>
    </div>

    <div id="sidebar-center" class="sidebar-div">
        <a href="/src/pages/search-with-user.html" class="square">
            <img src="/src/resources/aspas.svg" alt="search">
        </a>
        <a href="/src/pages/upload.html" class="square">
            <img src="/src/resources/aspas.svg" alt="upload">
        </a>
        <button class="square">
            <img src="/src/resources/aspas.svg" alt="notifications">
        </button>
    </div>

    <div id="sidebar-bottom" class="sidebar-div">
        <a href="/src/pages/update.html" class="last-square">
            <img src="/src/resources/aspas.svg" alt="settings">
        </a>
    </div>

</div>

</body>
</html>