<div id="sidebar">
    <link rel="stylesheet" href="/src/templates/css/side-bar.css">
    
    <div id="sidebar-top" class="sidebar-div">
        
        <button id="logo-btn" class="sidebar-btn">
            <img src="/src/resources/aspas.svg" alt="logo">
        </button>
        
    </div>

    <div id="sidebar-center" class="sidebar-div">
        
        <button id="search-btn" class="sidebar-btn">
            <img src="/src/resources/aspas.svg" alt="search">
        </button>
        
        <button id="upload-btn" class="sidebar-btn">
            <img src="/src/resources/aspas.svg" alt="upload">
        </button>
        
        <button id="notifications-btn" class="sidebar-btn">
            <img src="/src/resources/aspas.svg" alt="notifications">
        </button>
        
    </div>

    <div id="sidebar-bottom" class="sidebar-div">
        
        <button id="settings-btn" class="sidebar-btn">
            <img src="/src/resources/aspas.svg" alt="settings">
        </button>
        
    </div>
    
</div>