<div id="topbar">
    <link rel="stylesheet" href="/src/templates/css/top-bar.css">
    
    <div id="topbar-left" class="topbar-div">
        
        <button id="home-btn" class="topbar-btn">
            <img src="/src/resources/aspas.svg" alt="home">
        </button>
        
    </div>

    <div id="topbar-right" class="topbar-div">
        
        <button id="to-login-btn" class="topbar-btn">
            lorem ipsum
        </button>
        
        <button id="register-btn" class="topbar-btn">
            lorem ipsum
        </button>
        
    </div>

</div>