<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/templates/css/TopBar.css">
    <title>Top Bar</title>
</head>
<body>

<div id="topbar">

    <div id="topbar-left" class="topbar-div">
        <a href="/src/home.html" id="home-btn" class="topbar-btn">
            <img src="/src/resources/aspas.svg" alt="home">
        </a>
    </div>

    <div id="topbar-right" class="topbar-div">
        <a href="../../mockups/Login.html" id="login-btn" class="topbar-btn">lorem ipsum</a>
        <a href="register.html" id="register-btn" class="topbar-btn">lorem ipsum</a>
    </div>

</div>

</body>
</html>