<div id="topbar">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/TopBar.css">
    <div id="topbar-left" class="topbar-div">
        <a href="../home" id="home-btn" class="topbar-btn">
            <img src="../../images/aspas.svg" alt="home">
        </a>
    </div>

    <div id="topbar-right" class="topbar-div">
        <a href="../login" id="login-btn" class="topbar-btn">lorem ipsum</a>
        <a href="../register" id="register-btn" class="topbar-btn">lorem ipsum</a>
    </div>
</div>