<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="OutfitUpload.css">
</head>
<body>

<div class="contenedor">

    <h3>Lorem ipsum</h3>

    <div class="imagen-placeholder"></div>

    <form class="formulario">
        <input type="text" placeholder="lorem ipsum">
        <input type="text" placeholder="lorem ipsum">

    </form>

    <!-- Botón que lleva a otra página -->
    <a href="pagina2.html" class="boton">lorem ipsum</a>

</div>

</body>
</html>