<div id="sidebar">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="SideBar.css">
    <div class="circle">
        <a href="../search">
            <img src="../images/aspas.svg" alt="search">
        </a>
    </div>
    <div class="square">
        <a href="../search">
            <img src="../images/aspas.svg" alt="search">
        </a>
    </div>
    <div class="square">
        <a href="../upload">
            <img src="../images/aspas.svg" alt="upload">
        </a>
    </div>
    <div class="square">
        <button>
            <img src="../images/aspas.svg" alt="notifications">
        </button>
    </div>
    <div class="last-square">
        <a href="../settings">
            <img src="../images/aspas.svg" alt="settings">
        </a>
    </div>
</div>