#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 4%;
    background-color: gray;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    box-sizing: border-box;
}

.square{
    width: 75%;
    background-color: darkgray;
    border-radius: 40%;
    aspect-ratio: 1 / 1;
}

.circle{
    width: 85%;
    border-radius: 50%;
    background-color: lightgray;
    aspect-ratio: 1 / 1;
}

.last-square{
    width: 75%;
    background-color: dimgray;
    border-radius: 40%;
    aspect-ratio: 1 / 1;
    margin-top: auto;
}