#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 30px 20px;
}

#home-btn {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: gray;
    transition: background 0.3s;
}

#home-btn:hover {
    background-color: darkgray;
}

#login-btn {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: gray;
    transition: background 0.3s;
}

#login-btn:hover {
    background-color: darkgray;
}

#register-btn {
    text-decoration: none;
    background-color: gray;
}

#register-btn:hover {
    background-color: darkgray;
}