* {
    box-sizing: border-box;
}

.tarjeta-gris {
    background-color: #dcdcdc;
    width: 90%;
    max-width: 850px;
    padding: 3.5%;
    border-radius: 12px;
    display: flex;
    gap: 3.5%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.columna-izquierda {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.imagen-principal {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.autor-info {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #444;
}

.boton-autor {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    background: none;
    border: none;
    cursor: pointer;

    font-size: 0.9rem;
    color: #333;
    padding: 0;
}

.boton-autor img {
    width: 13%;
    height: 13%;
    border-radius: 50%;
    object-fit: cover;
}

.columna-derecha {
    flex: 1.1;
}

.bloque-texto h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #222;
}

.bloque-texto p {
    font-size: 0.85rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.segundo-titulo {
    margin-top: 40px !important;
}
