#layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#main .template-register-form {
    width: 100%;
    height: 100%;
    flex: 1;
}

@media (max-width: 1023px) {
    #main {
        align-items: flex-start;
        padding-top: 3rem;
    }

    #register-title {
        font-size: 1.4rem;
        margin-bottom: 3%;
    }

    #register-form {
        width: 70%;
        min-height: auto;
        padding-top: 4%;
        gap: 8%;
    }

    #register-form .form-text-field {
        gap: 6px;
    }

    #register-form .display {
        font-size: 1rem;
    }

    #register-form .text-field {
        padding: 4% 3%;
        font-size: 1.1rem;
        border-radius: 10px;
    }

    #register-form .register-form-btn {
        margin-top: 3%;
        padding: 2%;
    }
}