/* src/pages/css/search-top.css */
#upload-search-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-search-center .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

#topbar #profile .boton-perfil {
  width: clamp(36px, 4vw, 56px);
  height: clamp(36px, 4vw, 56px);
}
