#main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    margin: 2%;
    padding: 0;
}

#content{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-row{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}

#photo-div {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mini-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page-title{
    font-size: 22px;
    font-weight: 600;
}

#subtabs{
    margin-top: 10px;
    display: flex;
    gap: 22px;
}

#results{
    width: 100%;
    box-sizing:border-box;
}

#sidebar-extra-btn-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-extra-btn {
    margin-top: 500%;
    border: none;
    outline: none;
    background: none;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#extra-btn-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
