:host {
  display: block;
  min-height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

:host:has(side-bar) .app-content {
  margin-left: var(--sidebar-w);
  min-height: 100vh;
}

.app-content > router-outlet + * {
  flex: 1;
  width: 100%;
}

@media (max-width: 768px) {
  :host:has(side-bar) .app-content {
    margin-left: 0;
    padding-bottom: var(--bottombar-h);
  }
}
