:host {
  display: block;
}

ion-app:has(top-bar) ion-router-outlet {
  top: var(--topbar-h);
}

ion-app:has(side-bar) ion-router-outlet {
  left: var(--sidebar-w);
}

@media (max-width: 768px) {
  ion-app:has(side-bar) ion-router-outlet {
    left: 0;
    bottom: var(--bottombar-h);
  }
}
