<div id="register-form">
  <h1 id="register-title">Registrarse</h1>
  <form #RegisterForm="ngForm" (ngSubmit)="onSubmit(RegisterForm)">

    <div id="username-field">
      <form-text-field
        label="Usuario"
        id="username"
        name="username"
        type="text"
        placeholder="Tu usuario"
        [(ngModel)]="credentials.username"
        required
      />
      @if (RegisterForm.controls['username']?.invalid && RegisterForm.controls['username']?.touched) {
        @if (RegisterForm.controls['username'].errors?.['required']) {
          <span>Username is required.</span>
        }
      }
    </div>

    <div id="email-field">
      <form-text-field
        label="Email"
        id="email"
        name="email"
        type="email"
        placeholder="Tu email"
        [(ngModel)]="credentials.email"
        required
        email
      />
      @if (RegisterForm.controls['email']?.invalid && RegisterForm.controls['email']?.touched) {
        @if (RegisterForm.controls['email'].errors?.['required']) {
          <span>Email is required.</span>
        }
        @if (RegisterForm.controls['email'].errors?.['email']) {
          <span>Enter a valid email.</span>
        }
      }
    </div>

    <div id="password-field">
      <form-text-field
        label="Contraseña"
        id="password"
        name="password"
        type="password"
        placeholder="Tu contraseña"
        [(ngModel)]="credentials.password"
        required
      />
    </div>

    <div id="password-2-field">
      <form-text-field
        label="Confirmar contraseña"
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        placeholder="Repite tu contraseña"
        [(ngModel)]="credentials.confirmPassword"
        required
      />
    </div>

    @if (errorMessage) {
      <p>{{ errorMessage }}</p>
    }

    <button class="register-form-btn" type="submit">
      Registrarse
    </button>

  </form>
</div>
