<div id="register-form">
  <h1 id="register-title">Registrarse</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div id="username-field">
      <form-text-field
        label="Usuario"
        id="username"
        type="text"
        placeholder="Tu usuario"
        [control]="registerForm.controls['username']"
      />
      @if (registerForm.controls['username']?.invalid && registerForm.controls['username']?.touched) {
        @if (registerForm.controls['username'].errors?.['required']) {
          <span>Username is required.</span>
        }
      }
    </div>

    <div id="email-field">
      <form-text-field
        label="Email"
        id="email"
        type="email"
        placeholder="Tu email"
        [control]="registerForm.controls['email']"
      />
      @if (registerForm.controls['email']?.invalid && registerForm.controls['email']?.touched) {
        @if (registerForm.controls['email'].errors?.['required']) {
          <span>Email is required.</span>
        }
        @if (registerForm.controls['email'].errors?.['email']) {
          <span>Enter a valid email.</span>
        }
      }
    </div>

    <div id="password-field">
      <form-text-field
        label="Contraseña"
        id="password"
        type="password"
        placeholder="Tu contraseña"
        [control]="registerForm.controls['password']"
      />
    </div>

    <div id="password-2-field">
      <form-text-field
        label="Confirmar contraseña"
        id="confirmPassword"
        type="password"
        placeholder="Repite tu contraseña"
        [control]="registerForm.controls['confirmPassword']"
      />
    </div>

    @if (errorMessage) {
      <p>{{ errorMessage }}</p>
    }

    <button class="register-form-btn" type="submit">
      Registrarse
    </button>

  </form>
</div>
