<section id="bottom-bar-section-1">
  <h3>Media</h3>
  <ul>
    <li>Contactanos</li>
    <li>Correo</li>
    <li>Teléfono</li>
  </ul>
</section>

<section id="bottom-bar-section-2">
  <h3>Otros</h3>
  <ul>
    <li>Gestionar las preferencias</li>
    <li>Centro legal</li>
  </ul>
</section>
<footer class="bottom-bar">
  <div class="column">
    <h4>Contacto</h4>
    <ul>
      <li><a href="mailto:hello@outfitera.example">hello&#64;outfiter.example</a></li>
      <li><a href="tel:+10000000000">+1 (000) 000-0000</a></li>
    </ul>
  </div>

  <div class="column">
    <h4>Compañía</h4>
    <ul>
      <li>Sobre nosotros</li>
      <li>Carreras</li>
      <li>Prensa</li>
    </ul>
  </div>

  <div class="column">
    <h4>Legal</h4>
    <ul>
      <li>Términos de servicio</li>
      <li>Política de privacidad</li>
      <li>Configuración de cookies</li>
    </ul>
  </div>

  <div class="column copyright">
    <p>© 2025 Outfitera. Todos los derechos reservados.</p>
  </div>
</footer>
