#bottombar {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: gray;
    color: white;

    container-type: inline-size;
    container-name: bottom;
}

.bottombar-h3 {
    margin: 0;
    padding-bottom: 5px;
}

.bottombar-ul {
    margin: 0;
    padding-left: 20px;
}

@container bottom (max-width : 500px) {
    .bottombar-section {
        display: flex;
        gap: 20px;
        padding: 20px;

        color: white;

    }

}

@container bottom (min-width : 600px) {
    .bottombar-section {
        background-color: gray;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

}

