* {
    box-sizing: border-box;
}

.contenedor-formulario {
    background-color: #dcdcdc; /* Fondo gris */
    width: 90%;
    max-width: 600px;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo-grupo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo-grupo label {
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

.barra-roja {
    background-color: #4c4849; /* Rojo oscuro */
    color: #000;
    padding: 12px 15px;
    font-size: 14px;
    width: 100%;
    border-radius: 0; /* Rectangular como en la foto */
}

/* Estilos del Botón Rosa */
.boton-rosa {
    background-color: gray; /* Rosa de la imagen */
    color: #000;
    border: none; /* Quitamos el borde por defecto */
    padding: 12px;
    font-size: 14px;
    width: 70%;
    margin: 20px auto 0 auto; /* Centrado horizontal */
    cursor: pointer;
    transition: background-color 0.2s; /* Pequeña animación */
}

.boton-rosa:hover {
    background-color: gray; /* Un poco más oscuro al pasar el ratón */
}

.boton-rosa:active {
    transform: scale(0.98); /* Efecto de hundirse al pulsar */
}