#login-form {
  background-color: #dcdcdc;
  max-width: none;
  padding: 4%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 3%;
  width: 90%;
  min-height: 50vh;
  justify-content: flex-start;
  padding-top: 6%;
}

#login-form input {
  width: 100%;
  box-sizing: border-box;
}

#login-form form {
  gap: 20px;
}

#login-btn {
  background-color: gray;
  color: #000;
  border: none;
  padding: 3%;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: center;
  display: block;
  margin: 5% auto 0 auto;
  width: 40%;
}

#login-btn:hover {
  background-color: darkgray;
}

#login-btn:active {
  transform: scale(0.98);
}

#login-title {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4%;
}