* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contenedor {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

h3 {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 1.5em;
    text-align: left;
}

.imagen-proyecto {
    display: block;
    width: 45%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    margin: 0 auto 4vh auto;
    background-color: #d9d9d9;
    border-radius: 8px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.grupo-input {
    display: flex;
    flex-direction: column;
}

.grupo-input label {
    font-size: 0.9em;
    color: #000;
}

.formulario input {
    padding: 0.8rem 1rem;
    border: none;
    background-color: #dbdbdb;
    border-radius: 8px;
    font-size: 1em;
    width: 100%;
}


.contenedor-boton {
    display: flex;
    justify-content: center;
}

.boton {
    display: inline-block;
    padding: 0.8rem 2.5rem;
    background-color: #a67474;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;
}

.boton:hover {
    background-color: #8f6262;
}