* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upload-form {
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
}

.boton-perfil {
    width: 4%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;

    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    border: none;
    text-decoration: none;

}

.boton-perfil:hover {
    background-color: gray;
}

.boton-perfil:hover .foto-circular {
    opacity: 0.6;
}

.boton-perfil:active {
    transform: scale(0.95);
}

.foto-circular {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.2s;
}