.seccion {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
    padding: 40px 20px;
    box-sizing: border-box;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    min-width: 150px;
}

.columna img {
    width: 100%;
    height: auto;
    display: block;
}
